@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

@layer base {
  .btnaddtocart {
    @apply px-3 py-3 bg-primary-5 active:bg-primary-5/80 hover:bg-primary-6 text-16px duration-300 rounded-[10px] text-white;
  }
  .btncheckout {
    @apply px-3 py-3 bg-primary-5 active:bg-primary-5/80 hover:bg-primary-6 text-16px duration-300 rounded-[40px] text-white;
  }
  .btnfavorite {
    @apply px-5 py-3 bg-white active:bg-white/80 hover:bg-white/90 duration-300 rounded-[40px] text-[#646464] border border-[#646464];
  }
  .loginInput {
    @apply px-3 py-3 border border-slate-500 text-[#646464] outline-none text-13px  rounded-[17px];
  }
  .input_webpage {
    @apply px-3 py-3 border border-slate-500 text-[#646464] outline-none text-13px  rounded-[5px];
  }
  .searchInput {
    @apply px-4 py-2 border rounded-lg outline-none;
  }
  .add_new_button {
    @apply flex items-center bg-primary-5 text-white px-4 py-2 rounded-lg active:bg-primary-6 hover:bg-primary-7 duration-300;
  }
  .isSidebar_active {
    @apply px-2 duration-300 h-[50px] flex items-center w-full bg-primary-3 justify-start  rounded-lg relative overflow-hidden text-16px font-semibold;
  }
  .isSidebar_not_active {
    @apply px-2 duration-300 h-[50px] flex items-center w-full  justify-start  rounded-lg relative overflow-hidden text-16px font-semibold;
  }
  .isSidbar_border_active {
    @apply w-1 h-full bg-primary-5 absolute left-0;
  }
  .isSidebar_invisibleText {
    @apply text-primary-10 text-16px font-bold;
  }
  .sidebar_collap_btn {
    @apply size-8 flex items-center justify-center -ml-4 rounded-full bg-primary-3 text-primary-11 shadow-lg;
  }
  .navbar {
    @apply w-full h-[70px] flex items-center justify-between bg-white shadow-lg;
  }
  .btn_filter {
    @apply px-2 py-2  text-gray-500 border border-gray-300  rounded-lg active:bg-gray-400 hover:bg-gray-200   duration-300;
  }
  .chip_btn {
    @apply w-[100px] px-2 py-1 bg-green-500 rounded-lg text-white;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}
.p-datepicker {
  font-family: "Roboto", sans-serif;
}
.p-datepicker-input {
  font-family: "Roboto", sans-serif;
}
.p-datepicker-title {
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5d5ec;
  /* border-radius: 100vh; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d55c0c;
  border-radius: 100vh;
}
